body{
    display: grid;
    place-items: center;
    min-height: 97vh;
  background: url(https://t4.ftcdn.net/jpg/03/14/56/45/360_F_314564554_hnjb7RjNvxl67AaO9DpsjjQslf4zHufo.webp);
  background-size: 100%
    /* background:  */
}
.comtainer{
    position: relative;
    top: 50%;
    cursor: pointer;
}
.valentine{
    position: relative
}
.envelope{
   position: relative;
   width: 300px;
   height: 200px;
   background: #f08080;
   display: grid;
   place-items: center;
}
.envelope::before{
    content: '';
    position: absolute;
    width: 212px;
    height: 212px;
    background: #f08080;
    transform: rotate(45deg);
    top: -106px;
    left: 45px;
    border-radius: 30px 0 0 0;
}
.front{
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top:95px solid transparent;
    border-bottom: 100px solid transparent;
    top: 0px;
    right: 0;
    width: 0;
    height:0;
    z-index: 10;
}
.front::before{
    content:'';
    position: absolute;
    border-left: 300px solid #fda996;
    border-top:195px solid transparent;
    left: -120px;
    top: -90px 
}
.card{
    position: relative;
    width: 240px;
    height: 170px;
    background: #fff;
    border-radius: 2px;
    display: grid;
    place-items: center;
    transition: 1s
}
.card::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px dotted black
}
.valentine:hover .card {
    transform: translateY(-95px)
}
.valentine:hover #icon12{
    transition:0.8s;
    transform: translateY(-160px)

}
.text{
    font-family: 'Dancing Script', cursive;
    font-family: 'Rubik Glitch Pop', system-ui;
}
h2{
    color: rgb(187, 125, 125)
}
#icon{
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 10px;
    left: 20px;
    fill: red
    /* z-index: 20;/ */
}
#icon1{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 10px;
    right: 20px
}
#icon2{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 30px;
    right: 20px
}
#icon3{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 50px;
    right: 20px
}
#icon4{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 70px;
    right: 20px
}
#icon5{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 90px;
    right: 20px
}
#icon6{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 120px;
    right: 100px
}
#icon7{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 130px;
    right: 130px
}

#icon8{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 30px;
    left: 20px
}
#icon9{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 50px;
    left: 20px
}
#icon10{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 70px;
    left: 20px
}
#icon11{
    fill: red;
    width: 20px;
    /* height: 20px; */
    position: absolute;
    top: 90px;
    left: 20px
}
#icon12{
    fill: red;
     width: 220px;
    /* height: 20px; */
    position: absolute;
    top: -10px;
    left: 40px
}
